/* styles/home.css */
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ysabeau+SC:wght@1;100;200&display=swap');

.car-models-section {
  background-color: #F9F9F9;
  padding: 6rem 2rem; /* Increase padding top and bottom */
  padding-bottom: 10rem;
}

.section-title {
  font-family: 'Ysabeau SC', sans-serif;
  text-align: center;
  color: #006666;
  font-size: 2rem;
  margin-bottom: 3rem;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem; /* Increase gap between cards */
}

.card {
  position: relative;
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4rem 8rem rgba(0, 0, 0, 0.2);
}

.card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 102, 102, 0.8);
  padding: 1rem;
  opacity: 0.5;
  transition: opacity 0.3s, transform 0.3s;
}

.card:hover .card-overlay {
  opacity: 1;
  transform: translateY(0);
}

.card-title {
  color: #F9F9F9; /* Update text color to white */
  font-size: 1.5rem;
  text-align: center;
  animation: fadeIn 0.5s ease-in;
  animation-delay: 0.2s;
  opacity: 1; /* Always visible */
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.card-image {
  position: relative;
  overflow: hidden; /* Add overflow property */
}

.card-image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 102, 102, 0.3);
}
