/* styles/home.css */
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ysabeau+SC:wght@1;100;200&display=swap');

.hero-section {
  background-color: #F9F9F9;
  color: #006666;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.hero-content {
  width: 50%;
  text-align: center;
}

.hero-title {
  font-family: 'Ysabeau SC', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
  margin-left: 1rem;
}

.hero-description {
  font-family: 'Ysabeau SC', sans-serif;
  font-size: 1.5rem;
  margin-top: 1.5rem;
  text-align: left;
  line-height: 1.5;
  margin-left: 3rem;
}

